# Byte-compiled files
*.pyc
*.pyo
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
tmp/

# Environment and dependency files
.env
.venv/
*.egg-info/

# Frontend build files
/frontend/node_modules/
/frontend/dist/

# IDE-specific files
.vscode/
.idea/
*.iml

# System-specific files
.DS_Store
Thumbs.db

# Others
*.bak
*.swp
